<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="19414fea-5395-495c-b8e1-1b5e36b65721" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>house-chimney-window color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the home page for the website</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e178f835-bdeb-4563-812d-b88a5bc1a654">contentProperties</Composition>
      <Composition Key="46407e74-da34-43ab-8404-36d3821b4860">headerProperties</Composition>
      <Composition Key="41f3cee2-1298-453a-8bea-8bcb581fcac9">sEOProperties</Composition>
      <Composition Key="1103b08a-2c1a-4aa0-b5be-0f038b727073">taggingProperties</Composition>
      <Composition Key="3b88122e-76c5-4547-ac61-4dd5e1d68a42">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ad1682b0-89ae-4a75-b34d-26d2ac5500fb">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c723614a-16e0-43b4-a8ee-ef4eb1e365ef" SortOrder="0">searchPage</ContentType>
    <ContentType Key="fa2d08f8-a991-4618-b4ea-1c2123af8487" SortOrder="1">contentPage</ContentType>
    <ContentType Key="169d40eb-37dd-4bdf-9c59-1fa8ffb4d86b" SortOrder="2">siteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>