<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f16ef673-6d22-4f31-91c6-d19228db8e7c" Alias="reusableTabRepository" Level="2">
  <Info>
    <Name>Reusable Tab Repository</Name>
    <Icon>arrows-rotate color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4d157157-377d-4532-9cbd-36beb49b4a18" SortOrder="0">reusableTabItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>