<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c723614a-16e0-43b4-a8ee-ef4eb1e365ef" Alias="searchPage" Level="2">
  <Info>
    <Name>Search Page</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the search page for the site</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="41f3cee2-1298-453a-8bea-8bcb581fcac9">sEOProperties</Composition>
      <Composition Key="1103b08a-2c1a-4aa0-b5be-0f038b727073">taggingProperties</Composition>
      <Composition Key="3b88122e-76c5-4547-ac61-4dd5e1d68a42">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="20766010-83f4-4912-b669-aa5e6f78a55c">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>