<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3c96ec1c-cbf9-40d4-b380-b4edb5e679b0" Alias="sidebarPage" Level="2">
  <Info>
    <Name>Sidebar Page</Name>
    <Icon>icon-notepad-alt color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="41f3cee2-1298-453a-8bea-8bcb581fcac9">sEOProperties</Composition>
      <Composition Key="cd1aaca8-7cc7-44a9-8fed-42d823e4391e">sidebarProperties</Composition>
      <Composition Key="3b88122e-76c5-4547-ac61-4dd5e1d68a42">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>SidebarPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b7b78679-4471-4c46-b46b-63a6e4161b17">SidebarPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9f2e3cc3-0ff4-43e9-9b97-eab65d289719" SortOrder="0">mainSidebar</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>