<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="169d40eb-37dd-4bdf-9c59-1fa8ffb4d86b" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="da6594df-0c09-4df0-8e91-5a4542126738">footerProperties</Composition>
      <Composition Key="a85ae9ba-b66f-4fc9-9ba3-27ec014ad416">mainNavigationProperties</Composition>
      <Composition Key="4c9351cb-a6a5-4197-8dd3-54ffcb64bbe6">siteSettingsProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="679e8134-64ee-4dcc-b701-3a7617fd47be" SortOrder="0">pageTags</ContentType>
    <ContentType Key="0ad3f81b-5202-4ce6-931f-9f6157dd4a10" SortOrder="1">reusableContentRepository</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>