@inherits UmbracoViewPage<ISEoproperties>

@if (Model == null) return;

<div id="modal-accessibility" tabindex="-1" aria-hidden="true" class="aegov-modal h-full hidden z-[60] items-end p-0"
     role="dialog">
    <div class="relative sm:w-full sm:max-w-[532px] max-h-full h-full">
        <div class="aegov-modal-wrapper h-full py-4 md:py-5 xl:py-8 px-4 xl:px-6 flex flex-col gap-8 rounded-[0]">
            <div class="max-h-[90vh] h-full">
                <button type="button" class="aegov-modal-close relative top-2 bg-[#F9F7ED] p-2 mr-auto ml-0"
                        data-modal-hide="modal-accessibility">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M8.41475 0.414752C8.63442 0.195083 8.99058 0.195082 9.21025 0.414752L11.6799 2.88442C12.1925 3.39699 12.1925 4.22801 11.6799 4.74058L9.21025 7.21025C8.99058 7.42992 8.63442 7.42992 8.41475 7.21025C8.19508 6.99058 8.19508 6.63442 8.41475 6.41475L10.4545 4.375L0.5625 4.375C0.25184 4.375 4.47038e-08 4.12316 0 3.8125C-4.47031e-08 3.50184 0.25184 3.25 0.5625 3.25L10.4545 3.25L8.41475 1.21025C8.19508 0.990578 8.19508 0.634422 8.41475 0.414752Z"
                              fill="#3F4859" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="flex flex-col justify-between h-full mt-5">
                    <div class="top flex flex-col gap-5 pt-5 border-t border-[#E6EFF0]">
                        <div class="accessibility-settings flex justify-between items-center">
                            <h6 class="text-[16px]">Accessibility Setting</h6>
                            <a onclick="resetAll()" href="#"
                               class="flex items-center gap-2 text-[16px] no-underline text-[#000] hover:text-[#000]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"
                                     fill="none">
                                    <path d="M13.8987 13.1041C14.0037 13.2096 14.0626 13.3523 14.0626 13.5011C14.0626 13.6498 14.0037 13.7925 13.8987 13.898C13.822 13.9732 12.0108 15.75 9 15.75C6.37102 15.75 4.46273 14.175 3.375 12.948V14.625C3.375 14.7742 3.31574 14.9173 3.21025 15.0227C3.10476 15.1282 2.96168 15.1875 2.8125 15.1875C2.66332 15.1875 2.52024 15.1282 2.41475 15.0227C2.30926 14.9173 2.25 14.7742 2.25 14.625V11.25C2.25 11.1008 2.30926 10.9577 2.41475 10.8523C2.52024 10.7468 2.66332 10.6875 2.8125 10.6875H6.1875C6.33668 10.6875 6.47976 10.7468 6.58525 10.8523C6.69074 10.9577 6.75 11.1008 6.75 11.25C6.75 11.3992 6.69074 11.5423 6.58525 11.6477C6.47976 11.7532 6.33668 11.8125 6.1875 11.8125H3.89812C4.76437 12.8918 6.53906 14.625 9 14.625C11.5312 14.625 13.088 13.1161 13.1034 13.1006C13.2094 12.9957 13.3527 12.9371 13.5018 12.9378C13.6509 12.9384 13.7937 12.9983 13.8987 13.1041ZM15.1875 2.8125C15.0383 2.8125 14.8952 2.87176 14.7898 2.97725C14.6843 3.08274 14.625 3.22582 14.625 3.375V5.05195C13.5373 3.825 11.629 2.25 9 2.25C5.98922 2.25 4.17797 4.0268 4.10203 4.10203C3.9963 4.20739 3.93675 4.35044 3.93648 4.49971C3.93622 4.64898 3.99526 4.79223 4.10063 4.89797C4.20599 5.0037 4.34904 5.06325 4.4983 5.06352C4.64757 5.06378 4.79083 5.00474 4.89656 4.89937C4.91203 4.88391 6.46875 3.375 9 3.375C11.4609 3.375 13.2356 5.1082 14.1019 6.1875H11.8125C11.6633 6.1875 11.5202 6.24676 11.4148 6.35225C11.3093 6.45774 11.25 6.60082 11.25 6.75C11.25 6.89918 11.3093 7.04226 11.4148 7.14775C11.5202 7.25324 11.6633 7.3125 11.8125 7.3125H15.1875C15.3367 7.3125 15.4798 7.25324 15.5852 7.14775C15.6907 7.04226 15.75 6.89918 15.75 6.75V3.375C15.75 3.22582 15.6907 3.08274 15.5852 2.97725C15.4798 2.87176 15.3367 2.8125 15.1875 2.8125Z"
                                          fill="black" />
                                </svg>
                                Reset All
                            </a>
                        </div>
                        <div class="text-magnifier">
                            <h5 class="text-[20px]">Text Magnifier</h5>
                            <div class="grid grid-cols-3 gap-2">
                                <button onclick="zoomOut()"
                                        class="bg-[#92722A] text-[#FFFFFF] aspect-square p-2 flex flex-col items-center justify-center rounded-[8px]"
                                        type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"
                                         fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M6.11738 17.8333C6.11738 17.1341 6.61658 16.5674 7.23238 16.5674L29.5324 16.5674C30.1482 16.5674 30.6474 17.1341 30.6474 17.8333C30.6474 18.5324 30.1482 19.0991 29.5324 19.0991L7.23238 19.0991C6.61658 19.0991 6.11738 18.5324 6.11738 17.8333Z"
                                              fill="white" />
                                    </svg>
                                    Zoom Out
                                </button>
                                <button onclick="zoomIn()"
                                        class="bg-[#92722A] text-[#FFFFFF] aspect-square p-2 flex flex-col items-center justify-center rounded-[8px]"
                                        type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"
                                         fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M5.72595 16.5672C5.02683 16.5672 4.46007 17.1339 4.46007 17.8331C4.46007 18.5322 5.02683 19.099 5.72595 19.099L17.6245 19.099L17.6245 31.2521C17.6245 31.9513 18.1913 32.518 18.8904 32.518C19.5895 32.518 20.1563 31.9513 20.1563 31.2521V19.099L31.0436 19.099C31.7427 19.099 32.3095 18.5322 32.3095 17.8331C32.3095 17.1339 31.7427 16.5672 31.0436 16.5672L20.1563 16.5672L20.1563 5.93453C20.1563 5.2354 19.5895 4.66865 18.8904 4.66865C18.1913 4.66865 17.6245 5.2354 17.6245 5.93453L17.6245 16.5672L5.72595 16.5672Z"
                                              fill="white" />
                                    </svg>
                                    Zoom In
                                </button>
                                <button onclick="toggleHighlightLinks()"
                                        class="bg-[#92722A] text-[#FFFFFF] aspect-square p-2 flex flex-col items-center justify-center rounded-[8px]"
                                        type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"
                                         fill="none">
                                        <path d="M23.2963 12.704C23.4009 12.8085 23.4839 12.9326 23.5405 13.0692C23.5971 13.2057 23.6263 13.3521 23.6263 13.5C23.6263 13.6478 23.5971 13.7942 23.5405 13.9308C23.4839 14.0673 23.4009 14.1914 23.2963 14.2959L14.2963 23.2959C14.1918 23.4004 14.0677 23.4833 13.9312 23.5399C13.7946 23.5965 13.6482 23.6256 13.5004 23.6256C13.3526 23.6256 13.2062 23.5965 13.0696 23.5399C12.9331 23.4833 12.809 23.4004 12.7045 23.2959C12.5999 23.1914 12.517 23.0673 12.4605 22.9307C12.4039 22.7941 12.3748 22.6478 12.3748 22.5C12.3748 22.3521 12.4039 22.2058 12.4605 22.0692C12.517 21.9326 12.5999 21.8085 12.7045 21.704L21.7045 12.704C21.8089 12.5994 21.933 12.5164 22.0696 12.4598C22.2062 12.4032 22.3526 12.3741 22.5004 12.3741C22.6482 12.3741 22.7946 12.4032 22.9312 12.4598C23.0678 12.5164 23.1919 12.5994 23.2963 12.704ZM30.3192 5.68121C29.5879 4.94986 28.7197 4.36972 27.7642 3.97392C26.8087 3.57811 25.7846 3.37439 24.7504 3.37439C23.7162 3.37439 22.6921 3.57811 21.7366 3.97392C20.7811 4.36972 19.9129 4.94986 19.1817 5.68121L14.9545 9.90699C14.7434 10.1181 14.6248 10.4044 14.6248 10.7029C14.6248 11.0015 14.7434 11.2878 14.9545 11.4989C15.1656 11.71 15.4519 11.8286 15.7504 11.8286C16.0489 11.8286 16.3352 11.71 16.5463 11.4989L20.7735 7.28011C21.8323 6.24462 23.2567 5.66843 24.7376 5.67659C26.2185 5.68474 27.6364 6.27659 28.6837 7.32368C29.731 8.37077 30.3231 9.78862 30.3315 11.2695C30.3399 12.7504 29.764 14.1749 28.7287 15.2339L24.5001 19.4611C24.289 19.672 24.1703 19.9581 24.1702 20.2565C24.1701 20.5549 24.2885 20.8411 24.4994 21.0522C24.7103 21.2633 24.9964 21.382 25.2948 21.3821C25.5932 21.3822 25.8795 21.2638 26.0906 21.0529L30.3192 16.8187C31.0505 16.0874 31.6306 15.2193 32.0264 14.2638C32.4223 13.3083 32.626 12.2842 32.626 11.25C32.626 10.2157 32.4223 9.19163 32.0264 8.23614C31.6306 7.28065 31.0505 6.41248 30.3192 5.68121ZM19.4545 24.4996L15.2273 28.7268C14.7071 29.2587 14.0865 29.6821 13.4016 29.9725C12.7166 30.2629 11.9808 30.4146 11.2369 30.4187C10.4929 30.4228 9.7555 30.2792 9.06738 29.9964C8.37926 29.7136 7.75409 29.297 7.22806 28.7709C6.70203 28.2448 6.2856 27.6195 6.00287 26.9313C5.72015 26.2432 5.57675 25.5058 5.58098 24.7618C5.58521 24.0178 5.73698 23.2821 6.02751 22.5972C6.31804 21.9123 6.74155 21.2918 7.27353 20.7717L11.4993 16.5459C11.7104 16.3348 11.829 16.0485 11.829 15.75C11.829 15.4514 11.7104 15.1651 11.4993 14.954C11.2882 14.7429 11.0019 14.6243 10.7034 14.6243C10.4048 14.6243 10.1185 14.7429 9.90743 14.954L5.68165 19.1812C4.20473 20.6581 3.375 22.6613 3.375 24.75C3.375 26.8386 4.20473 28.8418 5.68165 30.3187C7.15858 31.7956 9.16172 32.6254 11.2504 32.6254C13.3391 32.6254 15.3422 31.7956 16.8192 30.3187L21.0463 26.0901C21.2572 25.879 21.3757 25.5928 21.3755 25.2944C21.3754 24.996 21.2567 24.7099 21.0456 24.4989C20.8345 24.288 20.5483 24.1696 20.2499 24.1698C19.9515 24.1699 19.6654 24.2885 19.4545 24.4996Z"
                                              fill="white" />
                                    </svg>
                                    Highlight Links
                                </button>
                            </div>
                        </div>
                        <div class="text-color">
                            <h5 class="text-[20px]">Colors</h5>
                            <div class="grid grid-cols-2 gap-2">
                                <button class="bg-[#92722A] text-[#FFFFFF] p-5 flex flex-col items-center justify-center rounded-[8px]"
                                        type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                         fill="none">
                                        <path d="M28 32C28 35.54 26.46 38.74 24 40.92C21.88 42.84 19.08 44 16 44C9.38 44 4 38.62 4 32C4 26.48 7.76 21.8 12.84 20.42C14.22 23.9 17.18 26.58 20.84 27.58C21.84 27.86 22.9 28 24 28C25.1 28 26.16 27.86 27.16 27.58C27.7 28.94 28 30.44 28 32Z"
                                              stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M36 16C36 17.56 35.7 19.06 35.16 20.42C33.78 23.9 30.82 26.58 27.16 27.58C26.16 27.86 25.1 28 24 28C22.9 28 21.84 27.86 20.84 27.58C17.18 26.58 14.22 23.9 12.84 20.42C12.3 19.06 12 17.56 12 16C12 9.38 17.38 4 24 4C30.62 4 36 9.38 36 16Z"
                                              stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M44 32C44 38.62 38.62 44 32 44C28.92 44 26.12 42.84 24 40.92C26.46 38.74 28 35.54 28 32C28 30.44 27.7 28.94 27.16 27.58C30.82 26.58 33.78 23.9 35.16 20.42C40.24 21.8 44 26.48 44 32Z"
                                              stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Custom Color
                                </button>
                                <button onclick="toggleMonochrome()"
                                        class="bg-[#92722A] text-[#FFFFFF] p-5 flex flex-col items-center justify-center rounded-[8px]"
                                        type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                         fill="none">
                                        <path d="M4.70725 3.29296C4.51916 3.10825 4.26574 3.00529 4.00212 3.00648C3.73851 3.00767 3.48603 3.11292 3.29962 3.29933C3.11321 3.48574 3.00796 3.73822 3.00677 4.00183C3.00558 4.26545 3.10854 4.51887 3.29325 4.70696L11.9101 13.3238C8.34814 16.1047 5.36815 19.5593 3.1399 23.4907C3.04833 23.6448 3 23.8207 3 24C3 24.1792 3.04833 24.3551 3.1399 24.5092C7.69166 32.2016 13.4992 37.0517 19.9338 38.5341C21.267 38.8428 22.6309 38.9989 23.9993 38.9995C27.7025 38.9551 31.3165 37.8561 34.4174 35.8312L43.2932 44.707C43.4813 44.8917 43.7348 44.9946 43.9984 44.9934C44.262 44.9922 44.5145 44.887 44.7009 44.7006C44.8873 44.5142 44.9925 44.2617 44.9937 43.9981C44.9949 43.7345 44.892 43.481 44.7072 43.293L4.70725 3.29296ZM19.8339 21.2476L26.7548 28.1685C25.7946 28.8062 24.6433 29.092 23.4964 28.9774C22.3495 28.8629 21.2775 28.3549 20.4625 27.5399C19.6475 26.7249 19.1395 25.6529 19.025 24.506C18.9104 23.3591 19.1962 22.2078 19.8339 21.2476ZM20.3831 36.585C14.634 35.2607 9.38209 30.914 5.16725 24C7.26016 20.4128 10.0362 17.2709 13.3383 14.7521L18.3974 19.8112C17.3878 21.158 16.8978 22.8238 17.0173 24.5028C17.1369 26.1817 17.8579 27.7613 19.0481 28.9515C20.2384 30.1417 21.8179 30.8628 23.4969 30.9823C25.1759 31.1018 26.8417 30.6118 28.1885 29.6022L32.9566 34.3703C29.2214 36.7377 24.7023 37.5337 20.3831 36.585ZM44.8606 23.4907C44.9522 23.6448 45.0005 23.8207 45.0005 24C45.0005 24.1792 44.9522 24.3551 44.8606 24.5092C43.1044 27.5436 40.9294 30.3153 38.3998 32.7428L36.985 31.328C39.2564 29.1606 41.2237 26.6955 42.8332 24C42.3151 23.1503 41.7771 22.3501 41.2282 21.5789L34.4732 28.8162L33.058 27.401L40.0081 19.9545C39.0843 18.7931 38.0779 17.6998 36.9968 16.6832L29.9214 24.2644L28.5061 22.8491L35.4893 15.3668C34.3208 14.4199 33.0576 13.5961 31.7199 12.9086L25.3697 19.7126L23.9544 18.2974L29.7697 12.0666C28.1368 11.4548 26.4178 11.1041 24.6758 11.0276L20.818 15.161L19.4027 13.7457L21.8055 11.1713C20.4544 11.3571 19.1305 11.7042 17.8619 12.205L16.3348 10.6778C18.7428 9.58337 21.3553 9.01155 24.0002 8.99996C31.9231 8.99996 39.3313 14.1464 44.8606 23.4907Z"
                                              fill="white" />
                                    </svg>
                                    Monochrome
                                </button>
                                <button onclick="toggleHighContrast()"
                                        class="bg-[#92722A] text-[#FFFFFF] p-5 flex flex-col items-center justify-center rounded-[8px]"
                                        type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                         fill="none">
                                        <path d="M4.06018 24.84C4.78018 35.14 13.5202 43.52 23.9802 43.98C31.3602 44.3 37.9602 40.86 41.9202 35.44C43.5602 33.22 42.6802 31.74 39.9402 32.24C38.6002 32.48 37.2202 32.58 35.7802 32.52C26.0002 32.12 18.0002 23.94 17.9602 14.28C17.9402 11.68 18.4802 9.22004 19.4602 6.98004C20.5402 4.50004 19.2402 3.32004 16.7402 4.38004C8.82018 7.72004 3.40018 15.7 4.06018 24.84Z"
                                              stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    High Contrast
                                </button>
                                <button onclick="toggleBrightHighContrast()"
                                        class="bg-[#92722A] text-[#FFFFFF] p-5 flex flex-col items-center justify-center rounded-[8px]"
                                        type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                         fill="none">
                                        <path d="M24 37C31.1797 37 37 31.1797 37 24C37 16.8203 31.1797 11 24 11C16.8203 11 11 16.8203 11 24C11 31.1797 16.8203 37 24 37Z"
                                              stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M38.28 38.28L38.02 38.02M38.02 9.98L38.28 9.72L38.02 9.98ZM9.72 38.28L9.98 38.02L9.72 38.28ZM24 4.16V4V4.16ZM24 44V43.84V44ZM4.16 24H4H4.16ZM44 24H43.84H44ZM9.98 9.98L9.72 9.72L9.98 9.98Z"
                                              stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Bright High Contrast
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <button class="aegov-btn w-full btn-outline" data-modal-hide="modal-accessibility"
                                type="button">
                            Close
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>