 
                    <div class="header-logo logos">
                        <div class="logo-item">
                            <a href="#" class="logo flex items-center flex-row gap-3 no-underline">
                                <img src="../images/NIHS-logo.svg" alt="logo"> <span class="text-xl font-bold text-[#232528] max-w-[20ch]">
                                    National Institute for Health
                                    Specialties (NIHS)
                                </span>
                            </a>
                        </div>
                        <div class="logo-item">
                            <a href="#" data-modal-target="modal-gold-star" data-modal-toggle="modal-gold-star"
                               class="block">
                                <img src="https://designsystem.gov.ae/img/global-star.png" alt="logo"
                                     class="secondary-logo"> <span class="sr-only">Gold star Logo</span>
                            </a>
                        </div>
                    </div>
                     