@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    if (Model?.Areas.Any() != true) { return; }
}

<h2 class="text-h4 md:text-h3 xl:text-h2 mb-4 xl:mb-6 leading-normal mt-10">Stay Updated</h2>

<div class="aegov-tab tab-pills">
	<ul class="tab-items gap-4 md:gap-6 lg:gap-7 xl:gap-8 max-xl:overflow-auto" data-tabs-toggle="#SampleLayout-Tabs-07" role="tablist">
		
		<li role="presentation"><a href="#" onclick="return false;" data-tabs-target="#body-item1-sample-07" role="tab" id="tab-item1-sample-01" aria-controls="body-item1-sample-07" class="tab-link whitespace-nowrap h-10 lg:h-12 px-4 lg:px-6">All Updates</a></li>



		<li role="presentation"><a href="#" onclick="return false;" data-tabs-target="#body-item2-sample-07" role="tab" id="tab-item2-sample-01" aria-controls="body-item2-sample-07" class="tab-link whitespace-nowrap h-10 lg:h-12 px-4 lg:px-6">News</a></li>
		<li role="presentation"><a href="#" onclick="return false;" data-tabs-target="#body-item3-sample-07" role="tab" id="tab-item3-sample-01" aria-controls="body-item3-sample-07" class="tab-link whitespace-nowrap h-10 lg:h-12 px-4 lg:px-6">Events</a></li>
		<li role="presentation"><a href="#" onclick="return false;" data-tabs-target="#body-item4-sample-07" role="tab" id="tab-item4-sample-01" aria-controls="body-item4-sample-07" class="tab-link whitespace-nowrap h-10 lg:h-12 px-4 lg:px-6">Photos</a></li>
		<li role="presentation"><a href="#" onclick="return false;" data-tabs-target="#body-item4-sample-07" role="tab" id="tab-item4-sample-01" aria-controls="body-item4-sample-07" class="tab-link whitespace-nowrap h-10 lg:h-12 px-4 lg:px-6">Video</a></li>
	</ul>
</div>







<div id="SampleLayout-Tabs-07" class="py-4">
	<div class="tab-content" role="tabpanel" id="body-item1-sample-07">
		<div class="news-card-slider aegovs-slider-style [&_.slick-slide]:mx-2.5 [&_.slick-list]:-mx-2.5 sm:[&_.slick-slide]:mx-3.5 sm:[&_.slick-list]:-mx-3.5">

			@foreach (var area in Model.Areas)
			{
				@await Html.GetBlockGridItemAreaHtmlAsync(area)
			}

		</div>

	</div>

</div>