@using Umbraco.Cms.Web.Common.PublishedModels
@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.Tab>>
@{
   var itemIndex = ViewData["itemIndex"]?.ToString();
   // var itemIndex = "item1";
}

<div class="tab-content" role="tabpanel" id="body-@itemIndex-sample-07">
    <div class="news-card-slider aegovs-slider-style [&_.slick-slide]:mx-2.5 [&_.slick-list]:-mx-2.5 sm:[&_.slick-slide]:mx-3.5 sm:[&_.slick-list]:-mx-3.5">
        <div>
            <div class="aegov-card card-news">
                <a href="#">
                    <img src="../images/ImageContainer (1).png" alt="TDRA empowers youth for a sustainable future">
                </a>
                <div class="card-content">
                    <div class="custom-divide custom-divide-sm flex flex-wrap">
                        <div class="text-aeblack-600 text-sm font-normal">11th Jun 20223</div>
                        <a href="#" class="text-sm font-normal">Press release</a>
                    </div>
                    <h5 class="max-md:text-lg line-clamp-3">TDRA empowers youth for a sustainable future through "Digital Skills Forum" on International Youth Day</h5>
                    <p class="line-clamp-3">In alignment with the UAE government's visionary theme for 2023, "Today for Tomorrow," the forum epitomized TDRA's dedication to fostering the next generation of leaders and visionaries who will drive sustainable growth in the digital era.</p>
                    <a href="#" class="aegov-link">
                        View details
                        <svg class="link-icon rtl:-scale-x-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="144 56 216 128 144 200" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="aegov-card card-news">
                <a href="#">
                    <img src="../images/ImageContainer (2).png" alt="TDRA empowers youth for a sustainable future">
                </a>
                <div class="card-content">
                    <div class="custom-divide custom-divide-sm flex flex-wrap">
                        <div class="text-aeblack-600 text-sm font-normal">11th Jun 20223</div>
                        <a href="#" class="text-sm font-normal">Press release</a>
                    </div>
                    <h5 class="max-md:text-lg line-clamp-3">TDRA empowers youth for a sustainable future through "Digital Skills Forum" on International Youth Day</h5>
                    <p class="line-clamp-3">In alignment with the UAE government's visionary theme for 2023, "Today for Tomorrow," the forum epitomized TDRA's dedication to fostering the next generation of leaders and visionaries who will drive sustainable growth in the digital era.</p>
                    <a href="#" class="aegov-link">
                        View details
                        <svg class="link-icon rtl:-scale-x-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="144 56 216 128 144 200" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="aegov-card card-news">
                <a href="#">
                    <img src="../images/ImageContainer (3).png" alt="TDRA empowers youth for a sustainable future">
                </a>
                <div class="card-content">
                    <div class="custom-divide custom-divide-sm flex flex-wrap">
                        <div class="text-aeblack-600 text-sm font-normal">11th Jun 20223</div>
                        <a href="#" class="text-sm font-normal">Press release</a>
                    </div>
                    <h5 class="max-md:text-lg line-clamp-3">TDRA empowers youth for a sustainable future through "Digital Skills Forum" on International Youth Day</h5>
                    <p class="line-clamp-3">In alignment with the UAE government's visionary theme for 2023, "Today for Tomorrow," the forum epitomized TDRA's dedication to fostering the next generation of leaders and visionaries who will drive sustainable growth in the digital era.</p>
                    <a href="#" class="aegov-link">
                        View details
                        <svg class="link-icon rtl:-scale-x-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="144 56 216 128 144 200" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="aegov-card card-news">
                <a href="#">
                    <img src="../images/ImageContainer (1).png" alt="TDRA empowers youth for a sustainable future">
                </a>
                <div class="card-content">
                    <div class="custom-divide custom-divide-sm flex flex-wrap">
                        <div class="text-aeblack-600 text-sm font-normal">11th Jun 20223</div>
                        <a href="#" class="text-sm font-normal">Press release</a>
                    </div>
                    <h5 class="max-md:text-lg line-clamp-3">TDRA empowers youth for a sustainable future through "Digital Skills Forum" on International Youth Day</h5>
                    <p class="line-clamp-3">In alignment with the UAE government's visionary theme for 2023, "Today for Tomorrow," the forum epitomized TDRA's dedication to fostering the next generation of leaders and visionaries who will drive sustainable growth in the digital era.</p>
                    <a href="#" class="aegov-link">
                        View details
                        <svg class="link-icon rtl:-scale-x-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="144 56 216 128 144 200" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>





