<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("_MetaData")
    @await Html.PartialAsync("_css")
</head>

<body>
    <!-- Language Modal -->
    @await Html.PartialAsync("_Language")

    <!-- Accessibility  Modal -->
    @await Html.PartialAsync("_Accessibility")

    <!-- Gold star modal -->
    @await Html.PartialAsync("_GoldStar")
    <!-- Header -->
    @await Html.PartialAsync("_MainNavigation")

    <!-- Main Container -->
    <main class="container flex flex-col lg:flex-row gap-5 mx-auto px-4 md:px-6 lg:px-8 py-12">
        <div class="w-full gap-10 flex flex-col">

            @await Html.PartialAsync("_BreadCrumb")

            @RenderBody()
        </div>
    </main>

    <div class="container my-8">
    </div>


    <!-- Footer -->
    @await Html.PartialAsync("_Footer")


</body>

</html>