<?xml version="1.0" encoding="utf-8"?>
<DataType Key="745a0bc6-abd3-40b9-a508-1813e86d5cdb" Alias="[BlockGrid] - Footer Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Footer Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "bf89611e-c1e3-4aa7-8a0f-0e4c52c375a0",
      "name": "Layout"
    },
    {
      "key": "2dc680f2-05a2-4ca3-9d51-4d12ce351714",
      "name": "Modules"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 4,
          "createLabel": "Add Footer Content",
          "key": "ce5118e8-1dc9-4897-a263-abeab57f037b",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "9c96a19d-504d-4313-ab07-2d0c865ab3b1",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "fb8df8df-491d-4543-863a-383a50e92306",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "middle",
          "columnSpan": 4,
          "createLabel": "Add Footer Content",
          "key": "fba4e190-7946-43d0-8eee-61a4a9b4bc2b",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "9c96a19d-504d-4313-ab07-2d0c865ab3b1",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "fb8df8df-491d-4543-863a-383a50e92306",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "right",
          "columnSpan": 4,
          "createLabel": "Add Footer Content",
          "key": "0c83f098-f36e-4bec-83fd-946211493ee1",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "9c96a19d-504d-4313-ab07-2d0c865ab3b1",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "fb8df8df-491d-4543-863a-383a50e92306",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "6e17776d-bc26-4a8f-b298-bcde518aca36",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "bf89611e-c1e3-4aa7-8a0f-0e4c52c375a0",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "9c96a19d-504d-4313-ab07-2d0c865ab3b1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "2dc680f2-05a2-4ca3-9d51-4d12ce351714",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": "~/App_Plugins/BlockIcons/footer.png",
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "fb8df8df-491d-4543-863a-383a50e92306",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "2dc680f2-05a2-4ca3-9d51-4d12ce351714",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>