<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b03e3f05-7068-4ac0-8bea-54625a0beb63" Alias="[ColorPicker] - White Or Secondary" Level="2">
  <Info>
    <Name>[ColorPicker] - White Or Secondary</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"ffffff\",\"label\":\"White\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"2c3e50\",\"label\":\"Secondary\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>