<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ad73bf7-5b8d-4f9f-a8f6-15baaaeca08b" Alias="[MediaPicker] Icon Picker (SVG)" Level="2">
  <Info>
    <Name>[MediaPicker] Icon Picker (SVG)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 0,
    "min": null
  }
}]]></Config>
</DataType>