<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59738223-980e-4cbe-9f41-d7c31fd0f8a9" Alias="[MultiURLPicker] Navigation Group Child Links" Level="2">
  <Info>
    <Name>[MultiURLPicker] Navigation Group Child Links</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>