<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdbbbb4b-ad12-46fb-aed5-81843b7364fe" Alias="[MultinodeTreepicker] - Reusable Content" Level="2">
  <Info>
    <Name>[MultinodeTreepicker] - Reusable Content</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "reusableContentItem",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Current",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "19414fea-5395-495c-b8e1-1b5e36b65721"
          ]
        },
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "0ad3f81b-5202-4ce6-931f-9f6157dd4a10"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>