<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9dfb82de-4506-4418-b3f0-c44285ef83cc" Alias="[MultinodeTreepicker] - Reusable Content Tab" Level="2">
  <Info>
    <Name>[MultinodeTreepicker] - Reusable Content Tab</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "reusableTabItem",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Current",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "19414fea-5395-495c-b8e1-1b5e36b65721"
          ]
        },
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "f16ef673-6d22-4f31-91c6-d19228db8e7c"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>