<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c243296-e03b-4ae0-af44-c9d2c4422f98" Alias="[Toggle] Default true" Level="2">
  <Info>
    <Name>[Toggle] Default true</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>