<?xml version="1.0" encoding="utf-8"?>
<Media Key="51195747-ade3-4f96-9d52-ae6d0cffe59f" Alias="855480 Hd 1920 1080 25Fps Trim" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/Hd1920108025FpsTrim</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-04-27T11:08:24</CreateDate>
    <NodeName Default="855480 Hd 1920 1080 25Fps Trim" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n3lbsupd/855480-hd_1920_1080_25fps-trim.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>