<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b67804e-bd4b-46c3-a174-2f86f99cea70" Alias="Accreditation" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/Accreditation</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-27T11:09:09</CreateDate>
    <NodeName Default="Accreditation" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jcagos0l/accreditation.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>