<?xml version="1.0" encoding="utf-8"?>
<Media Key="24b07a11-f0c2-4518-b1a5-68eea64cdcd2" Alias="Arrowright" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/Arrowright</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-27T11:09:09</CreateDate>
    <NodeName Default="Arrowright" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/eb3lajgc/arrowright.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>