<?xml version="1.0" encoding="utf-8"?>
<Media Key="860b0fed-91d9-4b94-8e23-7ece4d34fa9c" Alias="Downloadsimple" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/Downloadsimple</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-27T11:09:09</CreateDate>
    <NodeName Default="Downloadsimple" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1qhbxbwz/downloadsimple.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>