<?xml version="1.0" encoding="utf-8"?>
<Media Key="67036f29-7d2d-428c-be2e-6c2d332b2b90" Alias="Facebook F Brands" Level="2">
  <Info>
    <Parent Key="2f428cb6-86a9-48b9-bafd-ce21ba0ac05a">SVG Icon</Parent>
    <Path>/SVGIcon/FacebookFBrands</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-09T16:13:50</CreateDate>
    <NodeName Default="Facebook F Brands" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/dbxbgzzn/facebook-f-brands.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>