<?xml version="1.0" encoding="utf-8"?>
<Media Key="d026a1c5-41aa-4809-ba82-3fd426dba5ff" Alias="Filepdf" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/Filepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-27T11:09:09</CreateDate>
    <NodeName Default="Filepdf" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/4sqdnufk/filepdf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>