<?xml version="1.0" encoding="utf-8"?>
<Media Key="10a55232-1e8d-4773-aa0a-8d3294e438d8" Alias="Image 30" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/Image30</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-27T11:09:10</CreateDate>
    <NodeName Default="Image 30" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/grjkkeen/image-30.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>