<?xml version="1.0" encoding="utf-8"?>
<Media Key="8058cc77-845d-4862-8820-7762ba498a91" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-13T18:08:50</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties />
</Media>