<?xml version="1.0" encoding="utf-8"?>
<Media Key="d388ca14-8b0b-4e35-8625-0a17e76a4abc" Alias="Imagecontainer" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/Imagecontainer</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-27T11:09:10</CreateDate>
    <NodeName Default="Imagecontainer" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/clfiruyl/imagecontainer.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>