<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d551415-9168-41d8-9b78-ff8d40ee0564" Alias="Image 28" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/Image28</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-27T11:09:10</CreateDate>
    <NodeName Default="Image 28" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cmkfldli/image-28.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>