<?xml version="1.0" encoding="utf-8"?>
<Media Key="99e0347b-dd3d-4414-bb4c-9855b31d4efe" Alias="Image 18" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/Image18</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-27T11:09:10</CreateDate>
    <NodeName Default="Image 18" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pu0obgj3/image-18.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>