<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a160c5c-d7e4-4bc3-8b16-2385a126818e" Alias="Instagram Brands" Level="2">
  <Info>
    <Parent Key="2f428cb6-86a9-48b9-bafd-ce21ba0ac05a">SVG Icon</Parent>
    <Path>/SVGIcon/InstagramBrands</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-09T16:13:50</CreateDate>
    <NodeName Default="Instagram Brands" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/nugbmoxe/instagram-brands.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>