<?xml version="1.0" encoding="utf-8"?>
<Media Key="937eff91-5229-42aa-abd8-6821a0a78b62" Alias="NIHS Portal Sprint 2 BRD V1.1" Level="2">
  <Info>
    <Parent Key="50335f1d-2e03-4090-97b2-1cc4f4d483f2">PDF File</Parent>
    <Path>/PDFFile/NIHSPortalSprint2BRDV11</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-04-20T16:32:45</CreateDate>
    <NodeName Default="NIHS Portal Sprint 2 BRD V1.1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x55h3ezj/nihs-portal-sprint-2-brd-v11.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>