<?xml version="1.0" encoding="utf-8"?>
<Media Key="d51de952-c7aa-4776-8cba-2153a9bb0805" Alias="NIHS Logo" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/NIHSLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-27T11:09:10</CreateDate>
    <NodeName Default="NIHS Logo" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mpub1vnk/nihs-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>