<?xml version="1.0" encoding="utf-8"?>
<Media Key="50335f1d-2e03-4090-97b2-1cc4f4d483f2" Alias="PDF File" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PDFFile</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-20T16:29:36</CreateDate>
    <NodeName Default="PDF File" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties />
</Media>