<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d20603c-c701-4f89-9e93-ab15d7087d40" Alias="Pexels Pietrozj 360622" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/PexelsPietrozj360622</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-10T15:51:37</CreateDate>
    <NodeName Default="Pexels Pietrozj 360622" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hjqcatib/pexels-pietrozj-360622.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>