<?xml version="1.0" encoding="utf-8"?>
<Media Key="51a8b02f-8d59-450b-8962-f4d8b024e76a" Alias="Pexels Pixabay 139398" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/PexelsPixabay139398</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-10T15:51:37</CreateDate>
    <NodeName Default="Pexels Pixabay 139398" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fgykqukz/pexels-pixabay-139398.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>