<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ff70449-7c62-4fb1-a2c0-e07d72f7cb94" Alias="Pexels Karolina Grabowska 4021775" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/PexelsKarolinaGrabowska4021775</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-10T15:51:38</CreateDate>
    <NodeName Default="Pexels Karolina Grabowska 4021775" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j2cpo51c/pexels-karolina-grabowska-4021775.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>