<?xml version="1.0" encoding="utf-8"?>
<Media Key="a231d78f-5a11-4ef4-967c-b72d54acc1c9" Alias="Rectangle 1" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/Rectangle1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-27T11:09:11</CreateDate>
    <NodeName Default="Rectangle 1" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rhlddiqr/rectangle-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>