<?xml version="1.0" encoding="utf-8"?>
<Media Key="08b4ae63-ad37-4342-a087-e2060715ac0a" Alias="Safe" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/Safe</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-12T15:42:33</CreateDate>
    <NodeName Default="Safe" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mwxlicbx/safe.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>