<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f428cb6-86a9-48b9-bafd-ce21ba0ac05a" Alias="SVG Icon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SVGIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-13T18:07:18</CreateDate>
    <NodeName Default="SVG Icon" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties />
</Media>