<?xml version="1.0" encoding="utf-8"?>
<Media Key="2aab6f52-be2d-45aa-8530-c786a94f810b" Alias="Trainingresolution" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/Trainingresolution</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-27T11:09:11</CreateDate>
    <NodeName Default="Trainingresolution" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/krxlwkrn/trainingresolution.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>