<?xml version="1.0" encoding="utf-8"?>
<Media Key="683fadbf-a3bd-4667-a1d1-766922fc6718" Alias="Vector" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/Vector</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-27T11:09:11</CreateDate>
    <NodeName Default="Vector" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/r0wd40f3/vector.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>