<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e200077-2a44-421c-a937-b4bafd42109c" Alias="Video Solid" Level="2">
  <Info>
    <Parent Key="8058cc77-845d-4862-8820-7762ba498a91">Images</Parent>
    <Path>/Images/VideoSolid</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-12T14:08:40</CreateDate>
    <NodeName Default="Video Solid" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/iyacatse/video-solid.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>