<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d73c37d-3dba-4335-b767-aedee94dda05" Alias="X Twitter Brands" Level="2">
  <Info>
    <Parent Key="2f428cb6-86a9-48b9-bafd-ce21ba0ac05a">SVG Icon</Parent>
    <Path>/SVGIcon/XTwitterBrands</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-09T16:13:50</CreateDate>
    <NodeName Default="X Twitter Brands" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/jtbhg5n0/x-twitter-brands.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>