<?xml version="1.0" encoding="utf-8"?>
<Media Key="4daccc1e-988c-4330-b94e-aca08e3e6956" Alias="Youtube Brands" Level="2">
  <Info>
    <Parent Key="2f428cb6-86a9-48b9-bafd-ce21ba0ac05a">SVG Icon</Parent>
    <Path>/SVGIcon/YoutubeBrands</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-09T16:13:50</CreateDate>
    <NodeName Default="Youtube Brands" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/f5gkytmm/youtube-brands.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>