<?xml version="1.0" encoding="utf-8"?>
<Content Key="75b364b4-52f4-4eff-988d-290e47454f44" Alias="Assessment" Level="2">
  <Info>
    <Parent Key="23af8850-07a5-4589-9b73-1ad0f3bd8daa">Home</Parent>
    <Path>/Home/Assessment</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-04-23T11:11:16</CreateDate>
    <NodeName Default="Assessment" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8d80e573-be22-45b7-9fb6-14ea6101e7ec">ContentPage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/fa764ed30362449db086086583433d1f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "56fb35bc-5575-4b3d-9533-f81903987796",
      "udi": "umb://element/fa764ed30362449db086086583433d1f",
      "image": [
        {
          "key": "c1ca5a32-0278-4120-8b0c-bc2ab204799d",
          "mediaKey": "eaa60852-0baf-4e40-a0ac-d64394fdc9e1"
        }
      ],
      "title": "Fahmy Gharbia",
      "subtitle": "Software Engineer - Voice Over Artist - Script writer "
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/241e5f377d22418abcfeb370c0ee8b92",
        "areas": [
          {
            "key": "d8ac02a5-2e15-44a2-8258-df018165a219",
            "items": [
              {
                "contentUdi": "umb://element/ed7e4bae9c744b9f89e5c312d010124f",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "295b73b2-74f8-4e2b-9bb3-6bc87dc19a6b",
            "items": [
              {
                "contentUdi": "umb://element/d92f1c83b3d14e0aa40a593338802551",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/e929628e98fc4b23898facedab412f08",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/e9f2bae2b4804967bd745ac3befeacda",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f191f067460847f6ac6dc41af93002ae",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "64b332c8-dc3f-4d39-943b-ff9f5dc02e85",
      "udi": "umb://element/241e5f377d22418abcfeb370c0ee8b92"
    },
    {
      "contentTypeKey": "8e9c49cf-3be4-4250-8602-50a939ee01f4",
      "udi": "umb://element/ed7e4bae9c744b9f89e5c312d010124f",
      "text": "About",
      "color": {
        "value": "2c3e50",
        "label": "Secondary",
        "sortOrder": 1,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "455351d3-e544-4713-b831-2c80b809087c",
      "udi": "umb://element/e9f2bae2b4804967bd745ac3befeacda",
      "image": [
        {
          "key": "242196d3-1613-44a8-b7ae-bc7e274e96f1",
          "mediaKey": "4f46a6ba-40d1-40bf-b5bb-cbe0bf8125a4"
        }
      ],
      "link": [
        {
          "name": "About",
          "udi": "umb://document/cb6f420697a04d288d310ae2b5be88a7"
        }
      ]
    },
    {
      "contentTypeKey": "455351d3-e544-4713-b831-2c80b809087c",
      "udi": "umb://element/d92f1c83b3d14e0aa40a593338802551",
      "image": [
        {
          "key": "a44b17c5-7488-4142-954c-064e72b2f0fb",
          "mediaKey": "677852cd-15d0-4556-a4b3-8b095d6ca5b2"
        }
      ],
      "link": [
        {
          "name": "About",
          "udi": "umb://document/cb6f420697a04d288d310ae2b5be88a7"
        }
      ]
    },
    {
      "contentTypeKey": "455351d3-e544-4713-b831-2c80b809087c",
      "udi": "umb://element/e929628e98fc4b23898facedab412f08",
      "image": [
        {
          "key": "6be75aa6-03f6-4907-b32e-8d2b77920424",
          "mediaKey": "19fa15f0-8ee5-4d64-8d1a-b0aca786eacc"
        }
      ],
      "link": [
        {
          "name": "About",
          "udi": "umb://document/cb6f420697a04d288d310ae2b5be88a7"
        }
      ]
    },
    {
      "contentTypeKey": "216b076d-b32a-4a7a-b74e-996667163d5f",
      "udi": "umb://element/f191f067460847f6ac6dc41af93002ae",
      "contentItem": "umb://document/959988e5b32a402bb342a7086f5cc0e9"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[umb://document/88a0929446fb4a8485d1c6f1b9de4a7d,umb://document/10b2604ed2854246afe0635b04d006a2]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>