<?xml version="1.0" encoding="utf-8"?>
<Content Key="10b2604e-d285-4246-afe0-635b04d006a2" Alias="Block List" Level="4">
  <Info>
    <Parent Key="01f24344-970c-4528-939d-d2c30899563f">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockList</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2025-04-08T12:09:17</CreateDate>
    <NodeName Default="Block List" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>