<?xml version="1.0" encoding="utf-8"?>
<Content Key="88a09294-46fb-4a84-85d1-c6f1b9de4a7d" Alias="Block Grid" Level="4">
  <Info>
    <Parent Key="01f24344-970c-4528-939d-d2c30899563f">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2025-04-08T12:09:06</CreateDate>
    <NodeName Default="Block Grid" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>