<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc7930b8-e24d-4b7c-b080-85412a3c9b45" Alias="Contact" Level="2">
  <Info>
    <Parent Key="23af8850-07a5-4589-9b73-1ad0f3bd8daa">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-04-14T14:25:46</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8d80e573-be22-45b7-9fb6-14ea6101e7ec">ContentPage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f691b17b87b04d1780bdad4b9b81e79e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "56fb35bc-5575-4b3d-9533-f81903987796",
      "udi": "umb://element/f691b17b87b04d1780bdad4b9b81e79e",
      "image": [
        {
          "key": "61fb4f86-9139-46dd-b03c-9a5a9f20ac52",
          "mediaKey": "2d93908f-383e-417b-abf6-737d6a5dc1e1"
        }
      ],
      "title": "Contact Us",
      "subtitle": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/5f433f6b3ff046f885ac7c8923ab097c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a1b265bb-c44e-4750-852f-6e1be91cf404",
      "udi": "umb://element/5f433f6b3ff046f885ac7c8923ab097c"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>