<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ab57258-ac93-4155-9438-640980c42328" Alias="er" Level="3">
  <Info>
    <Parent Key="d03de1ae-7304-48fd-8d0b-c2a1038e3695">Sidebar</Parent>
    <Path>/Home/Sidebar/er</Path>
    <Trashed>false</Trashed>
    <ContentType>mainSidebar</ContentType>
    <CreateDate>2025-04-30T18:49:31</CreateDate>
    <NodeName Default="er" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fontSize>
      <Value><![CDATA[]]></Value>
    </fontSize>
    <newPage>
      <Value><![CDATA[0]]></Value>
    </newPage>
    <sidebarMainContent>
      <Value><![CDATA[]]></Value>
    </sidebarMainContent>
  </Properties>
</Content>