<?xml version="1.0" encoding="utf-8"?>
<Content Key="42d78374-528a-40c0-88e6-e8ded5e3efe2" Alias="Media Center" Level="2">
  <Info>
    <Parent Key="23af8850-07a5-4589-9b73-1ad0f3bd8daa">Home</Parent>
    <Path>/Home/MediaCenter</Path>
    <Trashed>false</Trashed>
    <ContentType>sidebarPage</ContentType>
    <CreateDate>2025-04-29T15:48:10</CreateDate>
    <NodeName Default="Media Center" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b7b78679-4471-4c46-b46b-63a6e4161b17">SidebarPage</Template>
  </Info>
  <Properties>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <sidebarNavigation>
      <Value><![CDATA[]]></Value>
    </sidebarNavigation>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>