<?xml version="1.0" encoding="utf-8"?>
<Content Key="383047de-a352-4ca0-b619-0c141dd44132" Alias="New Page" Level="2">
  <Info>
    <Parent Key="23af8850-07a5-4589-9b73-1ad0f3bd8daa">Home</Parent>
    <Path>/Home/NewPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-04-22T11:38:34</CreateDate>
    <NodeName Default="New Page" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8d80e573-be22-45b7-9fb6-14ea6101e7ec">ContentPage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3ac97bb0780e4b4ea09fe7402ababde3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "56fb35bc-5575-4b3d-9533-f81903987796",
      "udi": "umb://element/3ac97bb0780e4b4ea09fe7402ababde3",
      "image": [
        {
          "key": "9fcf6ba9-c181-4c2c-85d2-b057828fee7e",
          "mediaKey": "fab53eaa-3036-4628-b072-647b63ea7682"
        }
      ],
      "title": "",
      "subtitle": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/8fa981e7da5b48a2a11ee418bd3a09f6",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c26ba066a90742e7b904c50e8b786bab",
        "areas": [
          {
            "key": "12dfd13b-55c6-46d9-85a8-1c9ef58420de",
            "items": [
              {
                "contentUdi": "umb://element/17ba674b68c74322b700938454a5969c",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1,
                "contentUdi": "umb://element/322020b1d58a48dd9dd13b615e90d97f"
              },
              {
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1,
                "contentUdi": "umb://element/0a06279f2b9b4dc9aec273f50c38f9bf"
              },
              {
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1,
                "contentUdi": "umb://element/47a8da91b1984fa99bf96a7a3044106f"
              },
              {
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1,
                "contentUdi": "umb://element/b0c5ce9b4b4b406ca9302e8ef788efd3"
              },
              {
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1,
                "contentUdi": "umb://element/b398805eb3fc43d4a9eab1615165eb99"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d6ed994a-ddbc-459b-9760-656248290a9f",
      "udi": "umb://element/8fa981e7da5b48a2a11ee418bd3a09f6",
      "questionContent": "Did you find this content useful?",
      "shortDescription": "You can help us improve by providing your feedback about your experience.",
      "option1": "Yes",
      "option2": "No",
      "image": [
        {
          "key": "b94e7cd2-df63-4f23-b0c0-4cd083b60573",
          "mediaKey": "4f46a6ba-40d1-40bf-b5bb-cbe0bf8125a4"
        }
      ],
      "questionService": "Have you used our services at our service centre or digitally recently?",
      "link": [
        {
          "name": "Give us your feedback",
          "udi": "umb://document/383047dea3524ca0b6190c141dd44132"
        }
      ]
    },
    {
      "contentTypeKey": "3f589498-95dc-4374-ab6c-ef5d4c0943b5",
      "udi": "umb://element/c26ba066a90742e7b904c50e8b786bab"
    },
    {
      "contentTypeKey": "6b2762c3-44b2-4b8f-bee4-fea4d287f2b0",
      "udi": "umb://element/17ba674b68c74322b700938454a5969c",
      "image": [
        {
          "key": "f7a7d3f7-6fd3-4981-93b8-1938ed896ef8",
          "mediaKey": "fab53eaa-3036-4628-b072-647b63ea7682"
        }
      ],
      "date": "2025-04-22T00:00:00",
      "title": "TDRA empowers youth for a sustainable future through \"Digital Skills Forum\" on International Youth Day",
      "shortDescription": "In alignment with the UAE government's visionary theme for 2023, \"Today for Tomorrow,\" the forum epitomized TDRA's dedication to fostering the next generation of leaders and visionaries who will drive sustainable growth in the digital era.",
      "link": [
        {
          "name": "View details",
          "udi": "umb://document/383047dea3524ca0b6190c141dd44132"
        }
      ]
    },
    {
      "contentTypeKey": "6b2762c3-44b2-4b8f-bee4-fea4d287f2b0",
      "udi": "umb://element/322020b1d58a48dd9dd13b615e90d97f",
      "image": [
        {
          "key": "f7a7d3f7-6fd3-4981-93b8-1938ed896ef8",
          "mediaKey": "fab53eaa-3036-4628-b072-647b63ea7682"
        }
      ],
      "date": "2025-04-22T00:00:00",
      "title": "TDRA empowers youth for a sustainable future through \"Digital Skills Forum\" on International Youth Day",
      "shortDescription": "In alignment with the UAE government's visionary theme for 2023, \"Today for Tomorrow,\" the forum epitomized TDRA's dedication to fostering the next generation of leaders and visionaries who will drive sustainable growth in the digital era.",
      "link": [
        {
          "name": "View details",
          "udi": "umb://document/383047dea3524ca0b6190c141dd44132"
        }
      ]
    },
    {
      "contentTypeKey": "6b2762c3-44b2-4b8f-bee4-fea4d287f2b0",
      "udi": "umb://element/0a06279f2b9b4dc9aec273f50c38f9bf",
      "image": [
        {
          "key": "f7a7d3f7-6fd3-4981-93b8-1938ed896ef8",
          "mediaKey": "fab53eaa-3036-4628-b072-647b63ea7682"
        }
      ],
      "date": "2025-04-22T00:00:00",
      "title": "TDRA empowers youth for a sustainable future through \"Digital Skills Forum\" on International Youth Day",
      "shortDescription": "In alignment with the UAE government's visionary theme for 2023, \"Today for Tomorrow,\" the forum epitomized TDRA's dedication to fostering the next generation of leaders and visionaries who will drive sustainable growth in the digital era.",
      "link": [
        {
          "name": "View details",
          "udi": "umb://document/383047dea3524ca0b6190c141dd44132"
        }
      ]
    },
    {
      "contentTypeKey": "6b2762c3-44b2-4b8f-bee4-fea4d287f2b0",
      "udi": "umb://element/47a8da91b1984fa99bf96a7a3044106f",
      "image": [
        {
          "key": "f7a7d3f7-6fd3-4981-93b8-1938ed896ef8",
          "mediaKey": "fab53eaa-3036-4628-b072-647b63ea7682"
        }
      ],
      "date": "2025-04-22T00:00:00",
      "title": "TDRA empowers youth for a sustainable future through \"Digital Skills Forum\" on International Youth Day",
      "shortDescription": "In alignment with the UAE government's visionary theme for 2023, \"Today for Tomorrow,\" the forum epitomized TDRA's dedication to fostering the next generation of leaders and visionaries who will drive sustainable growth in the digital era.",
      "link": [
        {
          "name": "View details",
          "udi": "umb://document/383047dea3524ca0b6190c141dd44132"
        }
      ]
    },
    {
      "contentTypeKey": "6b2762c3-44b2-4b8f-bee4-fea4d287f2b0",
      "udi": "umb://element/b0c5ce9b4b4b406ca9302e8ef788efd3",
      "image": [
        {
          "key": "f7a7d3f7-6fd3-4981-93b8-1938ed896ef8",
          "mediaKey": "fab53eaa-3036-4628-b072-647b63ea7682"
        }
      ],
      "date": "2025-04-22T00:00:00",
      "title": "TDRA empowers youth for a sustainable future through \"Digital Skills Forum\" on International Youth Day",
      "shortDescription": "In alignment with the UAE government's visionary theme for 2023, \"Today for Tomorrow,\" the forum epitomized TDRA's dedication to fostering the next generation of leaders and visionaries who will drive sustainable growth in the digital era.",
      "link": [
        {
          "name": "View details",
          "udi": "umb://document/383047dea3524ca0b6190c141dd44132"
        }
      ]
    },
    {
      "contentTypeKey": "6b2762c3-44b2-4b8f-bee4-fea4d287f2b0",
      "udi": "umb://element/b398805eb3fc43d4a9eab1615165eb99",
      "image": [
        {
          "key": "f7a7d3f7-6fd3-4981-93b8-1938ed896ef8",
          "mediaKey": "fab53eaa-3036-4628-b072-647b63ea7682"
        }
      ],
      "date": "2025-04-22T00:00:00",
      "title": "TDRA empowers youth for a sustainable future through \"Digital Skills Forum\" on International Youth Day",
      "shortDescription": "In alignment with the UAE government's visionary theme for 2023, \"Today for Tomorrow,\" the forum epitomized TDRA's dedication to fostering the next generation of leaders and visionaries who will drive sustainable growth in the digital era.",
      "link": [
        {
          "name": "View details",
          "udi": "umb://document/383047dea3524ca0b6190c141dd44132"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>