<?xml version="1.0" encoding="utf-8"?>
<Content Key="383047de-a352-4ca0-b619-0c141dd44132" Alias="New Page" Level="2">
  <Info>
    <Parent Key="23af8850-07a5-4589-9b73-1ad0f3bd8daa">Home</Parent>
    <Path>/Home/NewPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-04-22T11:38:34</CreateDate>
    <NodeName Default="New Page" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8d80e573-be22-45b7-9fb6-14ea6101e7ec">ContentPage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3ac97bb0780e4b4ea09fe7402ababde3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "56fb35bc-5575-4b3d-9533-f81903987796",
      "udi": "umb://element/3ac97bb0780e4b4ea09fe7402ababde3",
      "image": [
        {
          "key": "9fcf6ba9-c181-4c2c-85d2-b057828fee7e",
          "mediaKey": "fab53eaa-3036-4628-b072-647b63ea7682"
        }
      ],
      "title": "",
      "subtitle": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/dfcca369048340a9bc0eb2fcd38213ca",
        "areas": [
          {
            "key": "35d6e80c-bb56-4a33-bdba-7f79eaeb162d",
            "items": [
              {
                "contentUdi": "umb://element/e3647b0b2432416699868cd72c8be2e2",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "f386d5e5-409a-4bfb-acdb-6d57b875132e",
            "items": [
              {
                "contentUdi": "umb://element/6c8fd7ac717b44e4ae575297c53a42e7",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/cd56ca53f14d403bb1fed12b3f12cac9",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a73cfab3cf434e9faa51bcfe214c1b91",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/03ce7c7ec384462d8b06d74e9e092542",
        "areas": [
          {
            "key": "5a7d6816-a685-4042-b6b2-0eca98b59813",
            "items": [
              {
                "contentUdi": "umb://element/29f760c8690d43dfb26966ca8fac7218",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "8a3da1e0-c36e-444f-bdb5-350164c1be23",
            "items": [
              {
                "contentUdi": "umb://element/bf7562d6fe79486f9996a90402f42f01",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0ca0dcbd-2dd4-49f5-bb18-0840c65cbef0",
      "udi": "umb://element/dfcca369048340a9bc0eb2fcd38213ca"
    },
    {
      "contentTypeKey": "d7813145-8446-4fd2-a1d8-289ea61bffc3",
      "udi": "umb://element/e3647b0b2432416699868cd72c8be2e2",
      "color": "",
      "title": "Stay Updated",
      "fontSize": "25"
    },
    {
      "contentTypeKey": "ac1e6b74-13c1-4714-896d-84e4fa10a6fc",
      "udi": "umb://element/a73cfab3cf434e9faa51bcfe214c1b91",
      "image": [
        {
          "key": "6e60c80e-196d-4166-8f35-4005dc5c8cd5",
          "mediaKey": "4b67804e-bd4b-46c3-a174-2f86f99cea70"
        }
      ],
      "title": "Day-01",
      "shortDescription": "Related Content",
      "link": [
        {
          "udi": "umb://document/23af885007a545899b731ad0f3bd8daa"
        }
      ]
    },
    {
      "contentTypeKey": "a1fbc819-98b9-47f7-a2d6-59a1fec0fd3a",
      "udi": "umb://element/03ce7c7ec384462d8b06d74e9e092542"
    },
    {
      "contentTypeKey": "b375f265-8d02-4325-8840-68499254977a",
      "udi": "umb://element/29f760c8690d43dfb26966ca8fac7218",
      "text": {
        "markup": "<div style=\"background-color: red;\">\n<div class=\" text-whitely-50 text-xl xl:text-2xl 2xl:text-3xl leading-normal font-bold font-inter rtl:font-alexandria mb-6 lg:mb-7 xl:mb-8 2xl:mb-9\"><span class=\"text-primary\" style=\"color: rgb(26, 188, 156);\">Mission</span></div>\n<p class=\"text-whitely-50\"><span class=\"text-primary\" style=\"color: rgb(26, 188, 156);\">To set and maintain high professional standards towards strengthening the health workforce capacity and promoting health.</span></p>\n</div>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "b375f265-8d02-4325-8840-68499254977a",
      "udi": "umb://element/bf7562d6fe79486f9996a90402f42f01",
      "text": {
        "markup": "<div class=\"text-whitely-50 text-xl xl:text-2xl 2xl:text-3xl leading-normal font-bold font-inter rtl:font-alexandria mb-6 lg:mb-7 xl:mb-8 2xl:mb-9\"><span class=\"text-primary\" style=\"color: rgb(26, 188, 156);\">Vision</span></div>\n<p class=\"text-whitely-50\"><span class=\"text-primary\" style=\"color: rgb(26, 188, 156);\">Develop highly qualified health workforce able to support the health system and promote health and wellbeing.</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "6298d8f1-3da6-4636-9635-4ab860bad3dd",
      "udi": "umb://element/6c8fd7ac717b44e4ae575297c53a42e7",
      "contentItem": "umb://document/316e3932013b47b7a0ce1b28ba0cb7a5"
    },
    {
      "contentTypeKey": "6298d8f1-3da6-4636-9635-4ab860bad3dd",
      "udi": "umb://element/cd56ca53f14d403bb1fed12b3f12cac9",
      "contentItem": "umb://document/18cbc45067104ca59d68a99d0cd63d7c"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>