<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f9fd360-178f-4ad8-b758-b27335fd859f" Alias="Page 1" Level="3">
  <Info>
    <Parent Key="42d78374-528a-40c0-88e6-e8ded5e3efe2">Media Center</Parent>
    <Path>/Home/MediaCenter/Page1</Path>
    <Trashed>false</Trashed>
    <ContentType>mainSidebar</ContentType>
    <CreateDate>2025-04-29T15:49:04</CreateDate>
    <NodeName Default="Page 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>

    <fontSize>
      <Value><![CDATA[]]></Value>
    </fontSize>

    <newPage>
      <Value><![CDATA[0]]></Value>
    </newPage>
    <sidebarMainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {

        "contentUdi": "umb://element/de024cec3dc04ee89dd51049cefdb29d",

        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {

      "contentTypeKey": "6298d8f1-3da6-4636-9635-4ab860bad3dd",
      "udi": "umb://element/de024cec3dc04ee89dd51049cefdb29d",
      "contentItem": "umb://document/18cbc45067104ca59d68a99d0cd63d7c"

    }
  ],
  "settingsData": []
}]]></Value>
    </sidebarMainContent>
  </Properties>
</Content>