<?xml version="1.0" encoding="utf-8"?>
<Content Key="2da39d05-de87-487a-9059-87b6d22957d2" Alias="Page 2" Level="3">
  <Info>
    <Parent Key="42d78374-528a-40c0-88e6-e8ded5e3efe2">Media Center</Parent>
    <Path>/Home/MediaCenter/Page2</Path>
    <Trashed>false</Trashed>
    <ContentType>mainSidebar</ContentType>
    <CreateDate>2025-04-29T15:49:12</CreateDate>
    <NodeName Default="Page 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fontSize>
      <Value><![CDATA[]]></Value>
    </fontSize>
    <newPage>
      <Value><![CDATA[0]]></Value>
    </newPage>
    <sidebarMainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/543632eec3f54fbfa042ea09d48feef7",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6298d8f1-3da6-4636-9635-4ab860bad3dd",
      "udi": "umb://element/543632eec3f54fbfa042ea09d48feef7",
      "contentItem": "umb://document/18cbc45067104ca59d68a99d0cd63d7c"
    }
  ],
  "settingsData": []
}]]></Value>
    </sidebarMainContent>
  </Properties>
</Content>