<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a6082df-dfff-4da7-8f49-97bcc899b04e" Alias="Page 1" Level="3">
  <Info>
    <Parent Key="d03de1ae-7304-48fd-8d0b-c2a1038e3695">Sidebar</Parent>
    <Path>/Home/Sidebar/Page1</Path>
    <Trashed>false</Trashed>
    <ContentType>mainSidebar</ContentType>
    <CreateDate>2025-04-22T12:57:37</CreateDate>
    <NodeName Default="Page 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/e921dd5d4897467da8e79be5741d0c03"
      },
      {
        "contentUdi": "umb://element/6d1044188f9a42d389885ec82e8b0b2a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b375f265-8d02-4325-8840-68499254977a",
      "udi": "umb://element/e921dd5d4897467da8e79be5741d0c03",
      "text": {
        "markup": "<p>Page 1<br>Page 1<br>Page 1<br>Page 1<br>Page 1<br>Page 1<br>Page 1<br>Page 1<br>Page 1</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "0733cfa5-6b36-4756-b635-38b8e5b8c90b",
      "udi": "umb://element/6d1044188f9a42d389885ec82e8b0b2a",
      "image": [
        {
          "key": "896d1300-99b7-4b4b-ae44-3dfdfe1d0248",
          "mediaKey": "4f46a6ba-40d1-40bf-b5bb-cbe0bf8125a4"
        }
      ],
      "caption": "The Scope and Themes of the Conference:"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <newPage>
      <Value><![CDATA[]]></Value>
    </newPage>
  </Properties>
</Content>