<?xml version="1.0" encoding="utf-8"?>
<Content Key="01f24344-970c-4528-939d-d2c30899563f" Alias="Page Tags" Level="3">
  <Info>
    <Parent Key="460d401d-f7f6-461b-b071-4a95ac439254">Site Settings</Parent>
    <Path>/Home/SiteSettings/PageTags</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTags</ContentType>
    <CreateDate>2025-04-08T12:04:57</CreateDate>
    <NodeName Default="Page Tags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>