<?xml version="1.0" encoding="utf-8"?>
<Content Key="556fbe50-8675-415e-9029-79e0b9d72b61" Alias="Page 2" Level="3">
  <Info>
    <Parent Key="d03de1ae-7304-48fd-8d0b-c2a1038e3695">Sidebar</Parent>
    <Path>/Home/Sidebar/Page2</Path>
    <Trashed>false</Trashed>
    <ContentType>mainSidebar</ContentType>
    <CreateDate>2025-04-22T12:57:55</CreateDate>
    <NodeName Default="Page 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/34c9afce9475403da35b5f3ddb324db1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b375f265-8d02-4325-8840-68499254977a",
      "udi": "umb://element/34c9afce9475403da35b5f3ddb324db1",
      "text": {
        "markup": "<p>Page 2<br>Page 2<br>Page 2<br>Page 2<br>Page 2<br>Page 2<br>Page 2<br>Page 2<br>Page 2</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <newPage>
      <Value><![CDATA[]]></Value>
    </newPage>
  </Properties>
</Content>