<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f9fd360-178f-4ad8-b758-b27335fd859f" Alias="Page 1" Level="3">
  <Info>
    <Parent Key="42d78374-528a-40c0-88e6-e8ded5e3efe2">Media Center</Parent>
    <Path>/Home/MediaCenter/Page1</Path>
    <Trashed>false</Trashed>
    <ContentType>mainSidebar</ContentType>
    <CreateDate>2025-04-29T15:49:04</CreateDate>
    <NodeName Default="Page 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <newPage>
      <Value><![CDATA[0]]></Value>
    </newPage>
    <sidebarMainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/8744486858054c71bef3396a7ca5bed1",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/7752520d3aef493eb6c135cf7675fbf7",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "216b076d-b32a-4a7a-b74e-996667163d5f",
      "udi": "umb://element/8744486858054c71bef3396a7ca5bed1",
      "contentItem": "umb://document/01d5ffb0c39244b2af42c2af0ab9c382"
    },
    {
      "contentTypeKey": "216b076d-b32a-4a7a-b74e-996667163d5f",
      "udi": "umb://element/7752520d3aef493eb6c135cf7675fbf7",
      "contentItem": "umb://document/caccb18c0c4d4413ac609005d129d636"
    }
  ],
  "settingsData": []
}]]></Value>
    </sidebarMainContent>
  </Properties>
</Content>