<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab03dbb0-8aa1-4b4a-867a-474146a9c0f7" Alias="Page 3" Level="3">
  <Info>
    <Parent Key="42d78374-528a-40c0-88e6-e8ded5e3efe2">Media Center</Parent>
    <Path>/Home/MediaCenter/Page3</Path>
    <Trashed>false</Trashed>
    <ContentType>mainSidebar</ContentType>
    <CreateDate>2025-04-30T16:42:20</CreateDate>
    <NodeName Default="Page 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <fontSize>
      <Value><![CDATA[]]></Value>
    </fontSize>
    <newPage>
      <Value><![CDATA[0]]></Value>
    </newPage>
    <sidebarMainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f0ecf812fb7945d6aeab18afee94dc18",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6298d8f1-3da6-4636-9635-4ab860bad3dd",
      "udi": "umb://element/f0ecf812fb7945d6aeab18afee94dc18",
      "contentItem": "umb://document/316e3932013b47b7a0ce1b28ba0cb7a5"
    }
  ],
  "settingsData": []
}]]></Value>
    </sidebarMainContent>
  </Properties>
</Content>