<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e1809c2-f657-45b0-8c75-bdc77d33db01" Alias="Reusable Content" Level="3">
  <Info>
    <Parent Key="460d401d-f7f6-461b-b071-4a95ac439254">Site Settings</Parent>
    <Path>/Home/SiteSettings/ReusableContent</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableContentRepository</ContentType>
    <CreateDate>2025-04-13T12:00:34</CreateDate>
    <NodeName Default="Reusable Content" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>