<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2545632-d6bd-45ad-9db7-42176812d2fd" Alias="Reusable Tab" Level="3">
  <Info>
    <Parent Key="460d401d-f7f6-461b-b071-4a95ac439254">Site Settings</Parent>
    <Path>/Home/SiteSettings/ReusableTab</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableTabRepository</ContentType>
    <CreateDate>2025-04-30T16:17:55</CreateDate>
    <NodeName Default="Reusable Tab" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>