<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6d24789-09c3-4a8b-958d-5f6b7269c287" Alias="Search" Level="2">
  <Info>
    <Parent Key="23af8850-07a5-4589-9b73-1ad0f3bd8daa">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2025-04-08T11:28:30</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="20766010-83f4-4912-b669-aa5e6f78a55c">SearchPage</Template>
  </Info>
  <Properties>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>