<?xml version="1.0" encoding="utf-8"?>
<Content Key="d03de1ae-7304-48fd-8d0b-c2a1038e3695" Alias="Sidebar" Level="2">
  <Info>
    <Parent Key="23af8850-07a5-4589-9b73-1ad0f3bd8daa">Home</Parent>
    <Path>/Home/Sidebar</Path>
    <Trashed>false</Trashed>
    <ContentType>sidebarPage</ContentType>
    <CreateDate>2025-04-22T12:56:51</CreateDate>
    <NodeName Default="Sidebar" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b7b78679-4471-4c46-b46b-63a6e4161b17">SidebarPage</Template>
  </Info>
  <Properties>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <sidebarNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/396377a397b645bdad965a280beda761",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "df2c7195-db0d-4976-afa2-2d5d44e0c0fe",
      "udi": "umb://element/396377a397b645bdad965a280beda761",
      "title": "Related Content",
      "links": [
        {
          "name": "Media Center",
          "target": "_blank",
          "udi": "umb://document/d03de1ae730448fd8d0bc2a1038e3695"
        },
        {
          "name": "Our Responsibilities",
          "udi": "umb://document/d03de1ae730448fd8d0bc2a1038e3695"
        },
        {
          "name": "Organization Structure",
          "udi": "umb://document/d03de1ae730448fd8d0bc2a1038e3695"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </sidebarNavigation>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>