<?xml version="1.0" encoding="utf-8"?>
<Content Key="d03de1ae-7304-48fd-8d0b-c2a1038e3695" Alias="Sidebar" Level="2">
  <Info>
    <Parent Key="23af8850-07a5-4589-9b73-1ad0f3bd8daa">Home</Parent>
    <Path>/Home/Sidebar</Path>
    <Trashed>false</Trashed>
    <ContentType>sidebarPage</ContentType>
    <CreateDate>2025-04-22T12:56:51</CreateDate>
    <NodeName Default="Sidebar" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b7b78679-4471-4c46-b46b-63a6e4161b17">SidebarPage</Template>
  </Info>
  <Properties>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/469657287cb04b8ba0c816e7c8fc0b94",
        "areas": [
          {
            "key": "e56f1c64-a3a3-44fa-9250-0d657d968446",
            "items": [
              {
                "contentUdi": "umb://element/3b74f978e8074b7fbe1515debc73bd6b",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "1720a194-5555-4f09-840c-8058e77d73e1",
            "items": [
              {
                "contentUdi": "umb://element/adaa121171534d9dbde9d91b054be2da",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/a3e27151ae7d4e7db57f5cb9ac5df429"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "df2c7195-db0d-4976-afa2-2d5d44e0c0fe",
      "udi": "umb://element/469657287cb04b8ba0c816e7c8fc0b94"
    },
    {
      "contentTypeKey": "8e9c49cf-3be4-4250-8602-50a939ee01f4",
      "udi": "umb://element/3b74f978e8074b7fbe1515debc73bd6b",
      "text": "Day-01",
      "color": {
        "value": "2c3e50",
        "label": "Secondary",
        "sortOrder": 1,
        "id": "2"
      }
    },
    {
      "contentTypeKey": "455351d3-e544-4713-b831-2c80b809087c",
      "udi": "umb://element/adaa121171534d9dbde9d91b054be2da",
      "image": [
        {
          "key": "b2337145-a621-4bca-b30f-0140c240331a",
          "mediaKey": "08b4ae63-ad37-4342-a087-e2060715ac0a"
        }
      ],
      "link": [
        {
          "udi": "umb://document/d03de1ae730448fd8d0bc2a1038e3695"
        }
      ]
    },
    {
      "contentTypeKey": "455351d3-e544-4713-b831-2c80b809087c",
      "udi": "umb://element/a3e27151ae7d4e7db57f5cb9ac5df429",
      "image": [
        {
          "key": "b2337145-a621-4bca-b30f-0140c240331a",
          "mediaKey": "08b4ae63-ad37-4342-a087-e2060715ac0a"
        }
      ],
      "link": [
        {
          "udi": "umb://document/d03de1ae730448fd8d0bc2a1038e3695"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>