<?xml version="1.0" encoding="utf-8"?>
<Content Key="460d401d-f7f6-461b-b071-4a95ac439254" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="23af8850-07a5-4589-9b73-1ad0f3bd8daa">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-04-08T11:34:18</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d414a50807584a3cac4fedb9cc541c17",
        "areas": [
          {
            "key": "ce5118e8-1dc9-4897-a263-abeab57f037b",
            "items": [
              {
                "contentUdi": "umb://element/b721a7534b114b9b98f0b4acd76a8316",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fba4e190-7946-43d0-8eee-61a4a9b4bc2b",
            "items": [
              {
                "contentUdi": "umb://element/d14e8166411346f091fdc79b693d2e64",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "0c83f098-f36e-4bec-83fd-946211493ee1",
            "items": [
              {
                "contentUdi": "umb://element/27957165df6c4c9b95d3d2465f241885",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6e17776d-bc26-4a8f-b298-bcde518aca36",
      "udi": "umb://element/d414a50807584a3cac4fedb9cc541c17"
    },
    {
      "contentTypeKey": "9c96a19d-504d-4313-ab07-2d0c865ab3b1",
      "udi": "umb://element/b721a7534b114b9b98f0b4acd76a8316",
      "title": "Location",
      "text": {
        "markup": "<p>2215 John Daniel Drive<br>Clark, MO 65243</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "9c96a19d-504d-4313-ab07-2d0c865ab3b1",
      "udi": "umb://element/27957165df6c4c9b95d3d2465f241885",
      "title": "Title 3",
      "text": {
        "markup": "<p>The more</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "fb8df8df-491d-4543-863a-383a50e92306",
      "udi": "umb://element/d14e8166411346f091fdc79b693d2e64",
      "title": "Social Links",
      "links": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ddb3f8b514344b84af057a92b74d4974"
            },
            {
              "contentUdi": "umb://element/d00481004d724556931506fd30e7dfd9"
            },
            {
              "contentUdi": "umb://element/4e51f10392d643cba032771372105307"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "016be29a-0d05-4bbf-822d-fe0ff4feb793",
            "udi": "umb://element/ddb3f8b514344b84af057a92b74d4974",
            "link": [
              {
                "name": "Facebook",
                "url": "https://facebook.com"
              }
            ],
            "icon": [
              {
                "key": "233252fd-c216-4b03-8fc6-461265e11d0e",
                "mediaKey": "67036f29-7d2d-428c-be2e-6c2d332b2b90"
              }
            ],
            "iconColor": {
              "value": "dc3545",
              "label": "Danger",
              "sortOrder": 5,
              "id": "6"
            },
            "invertedIconColor": {
              "value": "dc3545",
              "label": "Danger",
              "sortOrder": 5,
              "id": "6"
            }
          },
          {
            "contentTypeKey": "016be29a-0d05-4bbf-822d-fe0ff4feb793",
            "udi": "umb://element/4e51f10392d643cba032771372105307",
            "link": [
              {
                "name": "Instagram",
                "url": "https://instagram.com"
              }
            ],
            "icon": [
              {
                "key": "05c54907-9bad-41c7-b195-efc38c9bbb4f",
                "mediaKey": "3a160c5c-d7e4-4bc3-8b16-2385a126818e"
              }
            ],
            "iconColor": {
              "value": "dc3545",
              "label": "Danger",
              "sortOrder": 5,
              "id": "6"
            },
            "invertedIconColor": {
              "value": "212529",
              "label": "Dark",
              "sortOrder": 0,
              "id": "1"
            }
          },
          {
            "contentTypeKey": "016be29a-0d05-4bbf-822d-fe0ff4feb793",
            "udi": "umb://element/d00481004d724556931506fd30e7dfd9",
            "link": [
              {
                "name": "X",
                "url": "https://x .com"
              }
            ],
            "icon": [
              {
                "key": "7c9c998c-3ab3-45d8-a191-cf9ff0f4955d",
                "mediaKey": "7d73c37d-3dba-4335-b767-aedee94dda05"
              }
            ],
            "iconColor": {
              "value": "0dcaf0",
              "label": "Info",
              "sortOrder": 7,
              "id": "8"
            },
            "invertedIconColor": {
              "value": "212529",
              "label": "Dark",
              "sortOrder": 0,
              "id": "1"
            }
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </footerContent>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d08be4de703641cb8db53067b5c87019",
        "areas": [
          {
            "key": "3bbe5f75-f346-425d-b0e6-9ccb3c193fb2",
            "items": [
              {
                "contentUdi": "umb://element/7c9098f7f11a4e6fb1d8622e8b1e217b",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/696df3d8f53a48248aa5a5fc5cbb4b8f",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/b821e039bfd3449990ec0b0d787a010c",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/9d4fc9d9846149c88ce325ace58fa1d9",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/4b63d2e30b3c4120bd3d53a88f851c3f",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "da7056c8-a4b9-4478-840a-4ca04f7161f2",
      "udi": "umb://element/d08be4de703641cb8db53067b5c87019"
    },
    {
      "contentTypeKey": "115c9c6e-d8de-4b46-bd19-651b02c20fbe",
      "udi": "umb://element/696df3d8f53a48248aa5a5fc5cbb4b8f",
      "title": "About",
      "link": [
        {
          "udi": "umb://document/cb6f420697a04d288d310ae2b5be88a7"
        }
      ],
      "childLinks": ""
    },
    {
      "contentTypeKey": "115c9c6e-d8de-4b46-bd19-651b02c20fbe",
      "udi": "umb://element/b821e039bfd3449990ec0b0d787a010c",
      "title": "Search",
      "link": [
        {
          "udi": "umb://document/a6d2478909c34a8b958d5f6b7269c287"
        }
      ],
      "childLinks": ""
    },
    {
      "contentTypeKey": "115c9c6e-d8de-4b46-bd19-651b02c20fbe",
      "udi": "umb://element/4b63d2e30b3c4120bd3d53a88f851c3f",
      "title": "Dropdwon",
      "link": "",
      "childLinks": [
        {
          "name": "Home",
          "udi": "umb://document/23af885007a545899b731ad0f3bd8daa"
        },
        {
          "name": "About",
          "udi": "umb://document/cb6f420697a04d288d310ae2b5be88a7"
        },
        {
          "name": "Search",
          "udi": "umb://document/a6d2478909c34a8b958d5f6b7269c287"
        }
      ]
    },
    {
      "contentTypeKey": "115c9c6e-d8de-4b46-bd19-651b02c20fbe",
      "udi": "umb://element/7c9098f7f11a4e6fb1d8622e8b1e217b",
      "title": "Home",
      "link": [
        {
          "name": "Home",
          "udi": "umb://document/23af885007a545899b731ad0f3bd8daa"
        }
      ],
      "childLinks": ""
    },
    {
      "contentTypeKey": "115c9c6e-d8de-4b46-bd19-651b02c20fbe",
      "udi": "umb://element/9d4fc9d9846149c88ce325ace58fa1d9",
      "title": "Contact Us",
      "link": [
        {
          "udi": "umb://document/cc7930b8e24d4b7cb08085412a3c9b45"
        }
      ],
      "childLinks": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[Fahmy Gharbia]]></Value>
    </siteName>
  </Properties>
</Content>