<?xml version="1.0" encoding="utf-8"?>
<Content Key="01d5ffb0-c392-44b2-af42-c2af0ab9c382" Alias="Tabs for test" Level="4">
  <Info>
    <Parent Key="8e1809c2-f657-45b0-8c75-bdc77d33db01">Reusable Content</Parent>
    <Path>/Home/SiteSettings/ReusableContent/TabsForTest</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableContentItem</ContentType>
    <CreateDate>2025-04-30T11:45:43</CreateDate>
    <NodeName Default="Tabs for test" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/0185dcf776564b2c9eb6d12883ad901e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ca5927f5-d6fb-4364-aa85-fcfbc97f93f6",
      "udi": "umb://element/0185dcf776564b2c9eb6d12883ad901e",
      "title": "Day-01",
      "cards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7564938cacb646398778996fdecc8079"
            },
            {
              "contentUdi": "umb://element/506a9ff079c6484085e66ec25e478cb6"
            },
            {
              "contentUdi": "umb://element/064771b04b7441a3949ec83f052666c3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6b2762c3-44b2-4b8f-bee4-fea4d287f2b0",
            "udi": "umb://element/7564938cacb646398778996fdecc8079",
            "image": [
              {
                "key": "061e753c-2d33-437e-ae32-d669e707217d",
                "mediaKey": "4b67804e-bd4b-46c3-a174-2f86f99cea70"
              }
            ],
            "date": "2024-04-16T00:00:00",
            "title": "df",
            "shortDescription": "dfdf",
            "link": ""
          },
          {
            "contentTypeKey": "6b2762c3-44b2-4b8f-bee4-fea4d287f2b0",
            "udi": "umb://element/506a9ff079c6484085e66ec25e478cb6",
            "image": [
              {
                "key": "061e753c-2d33-437e-ae32-d669e707217d",
                "mediaKey": "4b67804e-bd4b-46c3-a174-2f86f99cea70"
              }
            ],
            "date": "2025-04-15T00:00:00",
            "title": "df",
            "shortDescription": "dfdf",
            "link": ""
          },
          {
            "contentTypeKey": "6b2762c3-44b2-4b8f-bee4-fea4d287f2b0",
            "udi": "umb://element/064771b04b7441a3949ec83f052666c3",
            "image": [
              {
                "key": "09597b22-5d29-4566-96c6-5072bc349a57",
                "mediaKey": "c9443421-1281-4239-b26c-883608f79340"
              }
            ],
            "date": "2023-04-18T00:00:00",
            "title": "Test",
            "shortDescription": "Test",
            "link": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
  </Properties>
</Content>