<?xml version="1.0" encoding="utf-8"?>
<Content Key="959988e5-b32a-402b-b342-a7086f5cc0e9" Alias="Testing" Level="4">
  <Info>
    <Parent Key="8e1809c2-f657-45b0-8c75-bdc77d33db01">Reusable Content</Parent>
    <Path>/Home/SiteSettings/ReusableContent/Testing</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableContentItem</ContentType>
    <CreateDate>2025-04-13T12:02:31</CreateDate>
    <NodeName Default="Testing" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c732b5ca757141878d1f089251955106",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b375f265-8d02-4325-8840-68499254977a",
      "udi": "umb://element/c732b5ca757141878d1f089251955106",
      "text": {
        "markup": "<p>This is a block of content, that is edited in a central location but can be picked to be used on any page</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
  </Properties>
</Content>